.movie-item {
    border: 2px solid black;
    padding: 10px;
    border-radius: 8px;
    width: 50%;
    margin: 10px auto;
    text-align: center;
    font-size: 1.5rem;
    transition: all 0.3s;
  }
  
  .movie-item:hover {
    background-color: #f0f0f0;
    cursor: pointer;
    transform: scale(1.05);
  }
  